langchain_community
langchain_core
sentence-transformers
numpy
pandas
python-dotenv
streamlit==1.44.0
torch==2.6.0
transformers==4.52.4
bitsandbytes==0.46.0
einops==0.8.1
trl==0.18.1
peft==0.15.2
pymongo
st-pages
faiss-cpu
faiss-gpu
streamlit_code_editor
streamlit-float
streamlit-flow-component
plotly
streamlit-aggrid
chromadb
bm25s
nltk
elasticsearch
streamlit-authenticator
streamlit-tile==3.0.0
distinctipy